<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Olympic Games</title>
  <link rel="shortcut icon" type = "image/png" href = "../static/assets/favicon.png">
<!-- Reset CSS -->
<link rel="stylesheet" href="../static/css/reset.css">

<!-- Bootstrap CDN Versions of jQuery and Popper -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> <!-- Dropdown Menu -->

<!-- Bootstrap CDN Versions of Min CSS and Min JS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css" integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">

<!-- Specific Bootstrap Theme CSS
<link rel="stylesheet" href="../static/css/bootstrap-lux.css"> -->

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="../static/css/style.css"/>

<!-- D3 -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#"> 
      <a href="/"><img style="padding-right: 15px" src="../static/assets/icon.png" width="80px" height="30px"></a>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Team</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#">Project Repository</a>
        </li>
        </li>
        </li>
      </ul>
    </div>
  </nav>

  <div class="wrapper">
    <div class="hero heroLanding text-center">
        <h1 style="color: white; margin-top: 180px";>120 YEARS OF OLYMPICS</h1>
    </div>
    
    <div class="container">

        <!-- Header and Intro -->
        <div class="row"><h1>A Glance to the History Modern Olympics</h1></div>
        <div class="row"><p>The interactive charts illustrate the success of countries from Athens 1896 to Rio 2016.<br>
            <br>
             </p>
        </div>

        <!-- Leaflet Map -->
        <div class="row">
            <div class="col-md-12"> 
                <div id="map" style="width: 100%; height: 500px"></div>
            </div>
        </div>

        <!--Test Medal JS-->
        <div class='row'>
          <div class='col-md-12'>
              <div id="table">
                <table>
                  <thead>
                    <tr>
                      <th>Medal ID</th>
                      <th>Medal name</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
          </div>

        </div>

        <div class="wrapper" style="margin-top: 0.5em;">
          <div class="container">
              <!-- Bubble & Line Plots -->
              <div class="row"></div>
              <div class="row">
                  <div class="col-md-10">
                      <canvas id="bubble" class="chartjs" width="770" height="400" style="display:block; width: 770px; height: 400px"></canvas>
                  </div>
                  <div class="col-md-2" style="padding: 1rem; background-color: #f7f7f9"> 
                      <div>
                          <h5>Athletes and Discipline</h5>
                          <p>See the chart</p>
 
                      </div>
                  </div>  
              </div> 
      
              <div class="row">
                  <div class="col-md-2" style="padding: 2rem; background-color: #f7f7f9">
                      <h5> Population GDP and Medals</h5>
                      <p>See the </p>
                      <hr class="my-4">
                      <h5>Country:</h5>
                      <select id="selCountrySet" onchange="optionChanged(this.value)"></select>
                  </div>
                  <div class="col-md-10"> 
                      <div id="line" style="width: 100%; height: 400px"></div>
                  </div>
              </div> 




  <!-- Footer-->
<div class="row">
  <div class='col-md-12'>
  <div id="footer">
    <p>Team 06 &copy; 2020</p>
  </div>
</div>
</div>
</body>

<script src="../static/js/index.js"></script>

</html>
